DATABASE_HOST = "your_database_host"
DATABASE_PORT = 5432
DATABASE_NAME = "sensor_data"
DATABASE_USER = "admin"
DATABASE_PASSWORD = "your_database_password"
TAILSCALE_AUTH_KEY = "your_tailscale_auth_key"
MQTT_USERNAME = "admin"
MQTT_PASSWORD = "your_mqtt_password"
SERIAL_PORT = "your_serial_port"
BAUDRATE = 115200