services:
  postgres:
    # environment:
    #   POSTGRES_USER: "your_user"
    #   POSTGRES_PASSWORD: "your_password"
    #   POSTGRES_DB: "your_database"
    # ports:
      # - "5432:5432"
  #grafana:
    # ports:
      # - '3000:3000'
