services:
  tailscale:
    #image: tailscale/tailscale:latest
    #container_name: tailscale
    #restart: always

  mosquitto:
    #image: eclipse-mosquitto:latest
    #container_name: mosquitto
    #restart: unless-stopped

  telegraf:
    #image: telegraf:latest
    #container_name: telegraf
    #restart: unless-stopped

  postgres:
    #image: timescale/timescaledb:latest-pg15
    #container_name: postgres
    #restart: unless-stopped

  grafana:
    #image: grafana/grafana
    #container_name: grafana
    #restart: unless-stopped
